<footer id="site-footer">
  <a href="https://www.instagram.com/aleksuuu_isoffline/"><img
      src="{{ site.imgurl | absolute_url }}/social/instagram.svg"
      alt="Instagram icon"
      class="social-icon"></a>
  <a href="https://www.youtube.com/@aleksuuu"><img
      src="{{ site.imgurl | absolute_url }}/social/youtube.svg"
      alt="Youtube icon"
      class="social-icon"></a>
  <a href="https://www.linkedin.com/in/aleksuuu/"><img
      src="{{ site.imgurl | absolute_url }}/social/linkedin.svg"
      alt="Linkedin icon"
      class="social-icon"></a>
  <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%61%6C%65%78%61%6E%64%65%72%77%75%71%75%65%40%67%6D%61%69%6C%2E%63%6F%6D"><img
      src="{{ site.imgurl | absolute_url }}/social/email.svg"
      alt="Email icon"
      class="social-icon"></a>
  <p>
    <a href="#" class="back-to-top">back to top</a>
  </p>
</footer>