<nav>
  <ul>
    <li>
      <header id="site-header">
        <a href="/">Alexander Wu</a>
      </header>
    </li>
    {% for item in site.data.navigation %}
      <li
        {% if item.sublinks %}
        class="has-dropdown"
        {% endif %}>
        <a
          href="{{ item.link }}"
          {% if item.name == "Home" %}
          {% if page.url == item.link or page.url == item.link | append: ".html" %}
          class="current"
          {% endif %}
          {% elsif page.url contains item.link %}
          class="current"
          {% endif %}
          class="nav-item">{{ item.name }}</a>
        {% if item.sublinks %}
          <ul class="dropdown-menu">
            {% for sublink in item.sublinks %}
              <li>
                <a href="{{ sublink.url }}">{{ sublink.name }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>