{% assign work = include.work %}
  <section>
  <p class="compact-below">
    <b>
      <a href="{{ work.url }}">{{ work.title_stylized }}</a>
    </b>
    <span class="secondary">{{ work.medium }} ({{ work.date | date: "%Y" }})</span>
  </p>

  <!--using a ul here for indentation-->
  <ul>
    <li>
      <p class="compact-above">
        {% if work.score or work.doc %}
          {% if work.score %}
            <a href="{{ site.baseurl }}/{{ site.pdfurl }}/{{ work.score }}" target="_blank">score</a>
            {% if work.doc %}/{% endif %}
          {% endif %}
          {% if work.doc %}
            <a href="{{ site.baseurl }}/{{ site.pdfurl }}/{{ work.doc }}" target="_blank">technical documentation</a>
          {% endif %}
        {% if work.media_links %}/{% endif %}
        {% endif %}          
        {%- for url_label in work.media_links %}
          {%- if forloop.length > 0 -%}
            <a href={{ url_label.url }} target="_blank">{{ url_label.label }}</a>
              {% unless forloop.last %}/{% endunless -%}
          {%- endif -%}
        {%- endfor -%}
        </p>
      </li>
    </li>
  </ul>
</section>