// COLORS
$primary-color: rgba(0, 0, 0, 0.7);
$primary-background-color: rgba(0, 0, 0, 0.04);
$transparent-color: rgba(0,0,0,0);
$accent-color: rgb(0, 128, 0);
$secondary-accent-color: rgba($accent-color, 0.5);
$tertiary-accent-color: #ddf5db;
$secondary-color: gray;
$footer-background-color: rgba(128, 128, 128, 0.05);
$footer-divider-color: #e5e5e5;
$cursor-default: url("../images/cursor-pause.svg");
$cursor-pointer: url("../images/cursor-play.svg");

$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

// FONTS
$title-font: Bitter, serif;
$body-font: Poppins, sans-serif;

// NUMBERS
$sectional-padding: 50px;
$default-padding: 10px;
$header-padding: 90px;
// to place content below header
$default-line-height: 1.5rem;

body {
  cursor: $cursor-default, auto;
  background: $primary-background-color;
  color: $primary-color;
  overflow-x: hidden;
  font-family: $body-font;
  font-weight: 300;
  b {
    font-weight: 400;
  }
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: $default-padding;
}

p {
  line-height: $default-line-height;
}

h1,
h2,
h3 {
  font-family: $title-font;
  font-weight: 100;
}

a {
  color: $primary-color;
  border-width: 1px;
  border-style: solid;
  border-color: $transparent-color;
   &:hover {
    color: $secondary-accent-color;
    cursor: $cursor-pointer, auto;
    border-color: $primary-color;
  }
  &:has(img) {
    border: none;
  }
}

.current {
  color: $accent-color;
}

img {
  max-width: 100%;
}


nav {
  padding-left: $sectional-padding;
  float: left;
  ul {
    padding: 0;
  }
  li {
    padding: $default-padding 0;
  }
  text-align: center;
}

.nav-item {
  font-weight: 200;
}

li {
  list-style: none;
}

#site-header {
  font-family: $title-font;
  font-size: 200%;
  padding: $sectional-padding * 0.25;
  border-bottom: 1px solid $accent-color;
  font-weight: 100;
  a {
    text-decoration: none;
  }
}

main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: $header-padding;
  float: left;
  /* max-width: 700px; */
  width: 50%;
}

.not-footer {
  flex-grow: 1;
  padding-bottom: $sectional-padding;
}

#site-footer {
  border-top: 1px solid $footer-divider-color;
  background-color: $footer-background-color;
  /* Adjust the background color as needed */
  text-align: center;
  padding: $default-padding * 2;
  color: $secondary-color;
}

.social-icon {
  width: 25px;
  height: 25px;
  padding: 0 $default-padding;
}

.back-to-top {
  color: $secondary-accent-color;
}

.col2 {
  columns: 2;
}

.tag {
  padding: $default-padding * 0.5;
  box-shadow: $box-shadow;
  border: 1px solid $tertiary-accent-color;
  line-height: $default-line-height * 1.75;
  text-decoration: none;
  border-radius: 5px;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.secondary {
  color: $secondary-color;
  font-size: 75%;
  a {
    color: $secondary-color;
  }
}

.work {
  h1 {
    margin-block-end: 0.3em;
  }
  p {
    margin-block-start: 0.3em;
  }
  h2 {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
  }
}

.compact-below {
  margin-block-end: 0;
}

.compact-above {
  margin-block-start: 0;
}

.no-indent {
  padding-left: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  max-width: 729px;
  /* max 2 columns: 230 * 3 + 20 * 2 - 1 */
}

.card {
  display: grid;
  grid-template-rows: auto auto;
  box-shadow: $box-shadow;
  border: 1px solid $tertiary-accent-color;
  padding: $default-padding;
  padding-top: $default-padding * 2;
  text-align: center;
  .video {
    display: block;
    margin: auto;
  }
  #soundcloud-player {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  img {
    display: block;
    margin: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: scale-down;
    object-position: top;
  }
}

table {
  display: block;
  max-width: fit-content;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $tertiary-accent-color;
  box-shadow: $box-shadow;
  overflow-x: auto;
}

th {
  font-family: $title-font;
  background-color: $tertiary-accent-color;
}
td {
  padding: $default-padding;
}
th,
td {
  border: 1px solid $secondary-accent-color;
  overflow-wrap: break-word;
  min-width: $sectional-padding;
}


/* Media query for smaller screens */
@media screen and (max-width: 850px) {
  main {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .not-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding-left: 0;
    width: auto;
  }
  main {
    padding-top: 0;
    width: 80%;
  }
}


.wut {
  display: none;
}