---
layout: default
---
{% if page.dedication %}
  <p>
    <i>Dedicated to {{ page.dedication }}</i>
  </p>
{% endif %}
{% if page.commission %}
  <p>
    <i>Commissioned by {{ page.commission }}</i>
  </p>
{% endif %}

<div class="work">
  <h1>
    {{ page.title_stylized }}
    <span class="secondary">({{ page.date | date: "%Y" }})</span>
  </h1>
  <p>
    {{ page.medium }}<br>{{ page.duration }}<br>
    {% if page.credit %}
      {{ page.credit }}<br>
    {% endif %}
    {% if page.score %}
      <a href="{{ site.baseurl }}/{{ site.pdfurl }}/{{ page.score }}" target="_blank">score</a>
    {% endif %}
  </p>
  {% for url_label in page.media_links %}
    {% include embedded-player.html url = url_label.url label = url_label.label %}
  {% endfor %}
  <p>
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag }}" class="tag secondary">{{ tag | replace: "-", "&nbsp;" }}</a>
    {% endfor %}
  </p>
  {% comment %}
  in case there is a new line (sometimes text editors might add an empty new line at the end of the file)  
  {% endcomment %}{% assign content = page.content | strip_newlines %}
  {% if content != "" %}
    <h2>Program Note</h2>
    {{ content }}
  {% endif %}
</div>